extends ../layout

block content
    .container-fluid
        .row
            .col-lg-2
                block aside
            .col-lg-8
                block section
                    block article
                        .row
                            .post
                                each post in postList
                                    .thumbnail.col-lg-4.col-sm-4.col-md-4
                                        img(src= post.feature, alt='Anh minh hoa')
                                        .caption
                                            h3.text-center= post.title
                                            p= post.content
                                            p
                                                .row
                                                    .col-lg-3
                                                    .col-lg-2
                                                        a.btn.btn-primary(href='/blog/posts/' + post._id,role='button') READ
                                                    .col-lg-2
                                                        a(href='/blog/posts/' + post._id + '/edit',role="button").btn.btn-warning EDIT
                                                    .col-lg-2
                                                        a.btn.btn-danger(href='/blog/posts/' + post._id + '/delete',role='button') DELETE
                                                    .col-lg-3
                                    .col-lg-1
            .col-lg-2
                block aside